h2{
    font-style: italic;
    text-align: center;
    background-color:aliceblue;
    border-style: double;
}
.title {
    border-bottom-style: solid;
    border-bottom-color: black;
    margin :0;
    padding: 0;
    object-fit: contain;
    text-align: center;
    }
img{
    margin: auto;
    width: 150px;
    height: auto;
}
#logoINSA{
    float: left;
}
#logoISS{
    float: right;
}

.menuROOM{
    margin-left: 5%;
  }
.informationTable{
      margin-left: 43%;
      margin-right: auto;
      border-style: double;
}
aside {
    width: 50%;
    float: right;
}
.information{
    float: left;
    width: 50%;
}
.detailUC {
    padding-left: 5%;
}
#historic {
    text-align: center;
}